{% extends 'staffpages/dashboard.html' %}
{% load static %}

{% block content %}

<!-- ======= Pricing Section ======= -->
<section id="" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="d-md-flex justify-content-md-between">
            <div class="fs-4 text-muted">
              list of Cars...
            </div>
            <div class="w-75 ms-0">
                <form action="{% url 'staffpages:search_admin' %}" method="POST" class="flex d-flex gap-1 col-lg-4">
                    {% csrf_token %}
                    <input type="text" name="searched" class="form-control" placeholder="Search car">
                    <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
                  </form>
            </div>
            <div class="mt-1">
              <a href="{% url 'staffpages:add_cars' %}">
                  <button type="button" class="btn btn-outline-secondary">+ Add Car</button>
              </a>
            </div>
          </div>
        

      <div class="row">

        {% for car in car %}

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>{{car.carName}}</h3>
            <p class="fs-5">{{car.carPrice}}<sup>Tzs</sup></p>
            <img class="w-75" src="{{car.carImg.url}}" alt="">
            <div class="flex d-flex justify-content-evenly">
                <a href="{% url 'staffpages:update' car.id %}"><i class="bi bi-pencil-square"></i></a>  
                <a href="{% url 'staffpages:delete_car' car.id %}"><i class="bi bi-trash"></i></a>
                <a href="{% url 'staffpages:detail_admin' car.id %}" class="float-end pb-2">Details <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </section><!-- End Pricing Section -->


{% endblock content %}