{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MAGARI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'cars/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'cars/assets/vendor/swiper/bootstrap.bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'cars/assets/css/style.css' %}" rel="stylesheet">
</head>

  <body class="bg-white">
{% if user.is_authenticated %}

<header class="navbar navbar-light mycolor fixed-top flex-md-nowrap p-1 border-bottom border-muted">
  <a class="logo me-auto fs-3  " href="#">MAGARI</a>
  <button class="navbar-toggler me-2 position-absolute top-50 end-0 translate-middle-y d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon rangi"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="navbarSupportedContent" class="mt-5 pt-3 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky sticky-left pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active text-secondary" aria-current="page" href="{% url 'staffpages:home' %}">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'staffpages:cars' %}">
              <span data-feather="file"></span>
              Cars
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'staffpages:messages' %}">
              <span data-feather="shopping-cart"></span>
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'cars:index' %}">
              <span data-feather="users"></span>
              View Site
            </a>
          </li>
          <li class="nav-item">
            <a class="ms-3 text-secondary btn btn-secondary text-white mb-2 px-3" href="{% url 'accounts:logout' %}">
              <span data-feather="users"></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 pt-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="fs-3 text-secondary">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <p>Welcome <span class="text-danger">{{ user.username }}</span></p>
          </div>
        </div>
      </div>

      {% block content %}


      {% endblock content %}

      <canvas class="my-4" id="myChart" width="900" height="1"></canvas>
    </main>
  </div>
</div>

<!-- Vendor JS Files -->
<script src="{% static 'cars/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'cars/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cars/assets//vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'cars/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'cars/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'cars/assets//vendor/waypoints/noframework.waypoints.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'cars/assets/js/main.js' %}"></script>
{% endif %}
  </body>
</html>
