{% extends 'staffpages/dashboard.html' %}
{% load static %}

{% block content %}

<div class="row g-4">
    <div class="col">
    <a href="{% url 'staffpages:cars' %}" class="text-decoration-none">
        <div class="card mycolorr">
            <div class="card-body">
                <h5 class="card-title text-secondary text-center">Total Cars</h5>
                <div class="text-center text-secondary mt-4">
                    {{ car_count }}
                </div>
            </div>
        </div>
    </a>
    </div>
    <div class="col">
        <a href="{% url 'staffpages:messages' %}" class="text-decoration-none">
            <div class="card mycolorr">
                <div class="card-body">
                    <h5 class="card-title text-secondary text-center">Total Messages</h5>
                    <div class="text-center text-secondary mt-4">
                        {{ message_count }}
                    </div>
                </div>
            </div>
        </a>
    </div>  
  </div>

  
{% endblock content %}